<meta name="viewport" content="width=device-width, initial-scale=1.0">

<header></header>
<!-- <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> -->
<!-- <getInput></getInput> -->
<div class="container p-1">
    <div class="row text-center justify-content-center">
    <div class="col-2 p-1 bg-success rounded m-4">
        <a class="h5 text-white" routerLink="/home" routerLinkActive="active">Home</a>
    </div>
    <div class="col-2 p-1 bg-info rounded m-4">
        <a class="h5 text-white" routerLink="/zipCode" routerLinkActive="active">Zip Code</a>
    </div>
    <div class="col-2 p-1 bg-primary rounded m-4">
        <a class="h5 text-white" routerLink="/retirementIncome" routerLinkActive="active">Income Calculator</a>
    </div>
    <div class="col-2 p-1 bg-warning rounded m-4">
        <a class="h5 text-white" routerLink="/calculator" routerLinkActive="active">Simple Calculator</a>
    </div>
</div>
</div> 


<router-outlet></router-outlet>

